# Введение в Python

## Занятие 1

### **План**

* типы переменных
* операции над переменными
* контейнеры
* условные операторы
* циклы
* кратко о функциях

### Типы переменных

Можно выделить следующие типы, которые потребуются в работе - целые числа (integer или ```int``` в Python), числа с плавающие точкой (```float```), строки (string или ```str```), а также булевы переменные. 

Присваивание в Python происходит через знак ```=```. Тип данных можно посмотреть через команду ```type(..)```

In [ ]:
a = 1
print(a, type(a))

1 <class 'int'>

In [ ]:
(3j) * (3j)

(-9+0j)

Python имеет динамическую типизацию. Таким образом, Вам не надо указывать тип переменной при присвоени как в C++, Java или других языках со статической типизацией.

In [ ]:
# like this
a: int = 1
print(a, type(a))

1 <class 'int'>

In [ ]:
a = 1.1
b = 0.5
c = .3

print(a, b, c)
print(type(a), type(b), type(c))

1.1 0.5 0.3
<class 'float'> <class 'float'> <class 'float'>

In [ ]:
a, b, c = 1.1, 0.5, .3 # присовение элементов в 1 строчку

print(a, b, c)
print(type(a), type(b), type(c))

1.1 0.5 0.3
<class 'float'> <class 'float'> <class 'float'>

In [ ]:
a, b = True, False

print(a, type(a), b, type(b), '\n')

# a bit nicer output
print(f'Type of variable a is {type(a)} and type of variable b is {type(b)}')
print('Type of variable a is {} and type of variable b is {}'.format(type(a), type(b)))

True <class 'bool'> False <class 'bool'>

Type of variable a is <class 'bool'> and type of variable b is <class 'bool'>
Type of variable a is <class 'bool'> and type of variable b is <class 'bool'>

In [ ]:
a, b = 1, 2.376
print('a = %d, b = %0.2f' % (a, b))
print(f'a = {a}, b = {b:.2f}')

a = 1, b = 2.38
a = 1, b = 2.38

In [ ]:
a = 'New Economic School'
b = 'Studies'

print(f'Type of variable a is {type(a)} and type of variable b is {type(b)}')
print(f'Length of variable a is {len(a)} and length of variable b is {len(b)}')

Type of variable a is <class 'str'> and type of variable b is <class 'str'>
Length of variable a is 19 and length of variable b is 7

In [ ]:
a = "Paper: 'Market Growth in China'"
a

"Paper: 'Market Growth in China'"

### Operations with variables

Как обычно, числа можно складывать, вычитать, умножать и делить. 

Помимо этих базовых операция доступно взятие остатка от деления (через символ ```%```), а также деление нацело (через ```//```). Данные можно выводить через команду ```print(..)```. Также в эту команду помимо нашего описания можно вставить значения переменных (пример ниже)

In [ ]:
a, b = 5, 2

ab_sum = a + b
ab_product = a * b
ab_division = a / b
ab_floor_division = a // b
ab_remainder_division = a % b
ab_comparison_equality = a == b
ab_comparison_geq = a >= b
ab_comparison_greater = a > b

print(f'Sum of {a} and {b} is {ab_sum}')
print(f'Product of {a} and {b} is {ab_product}')
print(f'Division of {a} on {b} is {ab_division}')
print(f'Integer (floor) division of {a} on {b} is {ab_floor_division}')
print(f'Remainder of division of {a} on {b} is {ab_remainder_division}')
print(f'{a} = {b} is {ab_comparison_equality}')
print(f'{a} > {b} is {ab_comparison_greater}')
print(f'{a} >= {b} is {ab_comparison_geq}')

Sum of 5 and 2 is 7
Product of 5 and 2 is 10
Division of 5 on 2 is 2.5
Integer (floor) division of 5 on 2 is 2
Remainder of division of 5 on 2 is 1
5 = 2 is False
5 > 2 is True
5 >= 2 is True

In [ ]:
a ** b # power

25

In [ ]:
a, b = 4, 7

ab_division = a / b
ab_division_round = round(a / b, 2) # round up to 2 digits after decimal

print(ab_division, ab_division_round)

0.5714285714285714 0.57

In [ ]:
a = 1.56e5
print(a)

156000.0

In [ ]:
a, b = True, False

ab_sum = a + b
ab_product = a * b
ab_comparison = a is b
ab_condition = a and b

a_integer = int(a)

print(f'Sum of {a} and {b} is {ab_sum}')
print(f'Product of {a} and {b} is {ab_product}')
print(f'The statement that {a} is {b} is {ab_comparison}')
print(f'And condition on {a} and {b} is {ab_condition}')
print(f'{a} in integer form is {a_integer}')

Sum of True and False is 1
Product of True and False is 0
The statement that True is False is False
And condition on True and False is False
True in integer form is 1

In [ ]:
a = 'New Economic School'
b = 'Studies'

sum_strings = a + b
multiply_by_factor = a * 3
together = a * 3 + ' ' + b * 2

print('slicing the first 3 characters of variable a', a[:3]) 
print('all characters till 3 last characters of variable a ', a[:-3]) 
print('the second and the third characters of variable a', a[1:3]) 
print('all the charactes from the third one without 2 last characters', a[2:-2]) 

print('\n')

print(f'Sum of {a} and {b} is: {sum_strings}')
print(f'Multiplication of {a} by factor of {3} is: {multiply_by_factor}')
print(f'Takeing multiplication and sum of {a} and {b} is: {together}')

slicing the first 3 characters of variable a New
all characters till 3 last characters of variable a  New Economic Sch
the second and the third characters of variable a ew
all the charactes from the third one without 2 last characters w Economic Scho


Sum of New Economic School and Studies is: New Economic SchoolStudies
Multiplication of New Economic School by factor of 3 is: New Economic SchoolNew Economic SchoolNew Economic School
Takeing multiplication and sum of New Economic School and Studies is: New Economic SchoolNew Economic SchoolNew Economic School StudiesStudies

In [ ]:
b[-2]

'e'

In [ ]:
# a bit more about slicing
print(f'Slicing every second element from {a} is {a[::2]}')
print(f'Reversion of {a} is {a[::-1]}')

# replacement of a characters
a_new = a.replace('o', '3')
print(a, a_new)
a_new = a.replace('c', '3', 2)
print(a, a_new)

# capitalization
a_new = a.capitalize()
print(a, a_new)

# all characters to upper register
a_new = a.upper()
print(a, a_new)

# all characters to lower register
a_new = a.lower()
print(a, a_new)

Slicing every second element from New Economic School is NwEooi col
Reversion of New Economic School is loohcS cimonocE weN
New Economic School New Ec3n3mic Sch33l
New Economic School New E3onomi3 School
New Economic School New economic school
New Economic School NEW ECONOMIC SCHOOL
New Economic School new economic school

In [ ]:
a = 'This is a test sentence'
print(a)

# разбиение строки 
b = a.split(sep = ' ')
print(b)

# соединение строк через разделитель
c = ' '.join(b)
print(c)

# отрезание отступов справа
a = 'This is a test sentence      '
a.rstrip()

This is a test sentence
['This', 'is', 'a', 'test', 'sentence']
This is a test sentence

'This is a test sentence'

In [ ]:
a.rstrip?

Данные можно также вводить с клавиатуры посредством команды ```input()```

In [ ]:
a = str(input())
print(f'Вы ввели следующее значение: {a}')
print(type(a))

Car
Вы ввели следующее значение: Car
<class 'str'>

In [ ]:
a = int(input())
print(f'Вы ввели следующее значение: {a}')
print(type(a))

7
Вы ввели следующее значение: 7
<class 'int'>

Также на практике бывает необходимо использование регулярных выражений (regular expressions или же regex). Данные команды имеют свой синтаксис. В зависимости от распространенности конкретных случаев, могут использоваться как довольно простые конструкции, так и очень мудреные. Стоит понять логику, а запоминать возможно не стоит (ну если только вам нечего делать).

Можно найти различные шпаргалки по регулярным выражениям (regex)
Например [здесь](https://www.debuggex.com/cheatsheet/regex/python) 
(Заодно можно потренироваться вставлять гиперссылки)

In [ ]:
import regex as re

In [ ]:
a = '12new_string_example8905979'
# В данном примере мы убираем все числовые значения из строки, заменяя их ни на что (тобиш убираем)
result = re.sub(r'[0-9]+', '', a)
print(result)

new_string_example

### Контейнеры и операции с ними

Для нас пока имеют важность следующие массивы/контейнеры:

* Кортежи
* Списки
* Множества
* Словари

Обращаться к элементу контейнера можно через квадратные скобки, вводя в них номер (индекс) элемента в массиве.

In [ ]:
# Кортеж (tuple) 
tuple_1 = tuple([1, 2, 2, 3, '3', 4])
# Также можем создать следующим образом
tuple_1 = (1, 2, 2, 3, '3', 4)

print(tuple_1)
print(type(tuple_1))

(1, 2, 2, 3, '3', 4)
<class 'tuple'>

In [ ]:
# Попробуем изменить элемент кортежа (обращаемся по индексу)
print(tuple_1[2])
tuple_1[2] = 5

2

TypeError: ignored

In [ ]:
# Лист 
list_1 = list([1, 2, 2, 3, 4, '7', False])
list_1 = [1, 2, 2, 3, 4, '7', False]

type(list_1)

list

In [ ]:
# запишем третьим элементом 84 вместо 2
print(list_1[2])
list_1[2] = 84
print(list_1[2])

2
84

Над списками можно проводить ряд операций - смотреть, есть ли элемент в списке (```in```), присоединять элементы к списку (```append```) (элементами могут служить и другие списки, кортежи и т.д.), а также расширять список значениями другого списка (```extend```). Более того, если лист содержит строковые значения, их можно соединить.

In [ ]:
print(3 in list_1, 3 not in list_1)

# в методе .append() не требуется делать присовение - применив данный метод, число добавляется в список
list_1.append(10)
print(list_1)

list_2 = [11, 15, False, '7']
list_1.extend(list_2)
print(list_1)

list_3 = ['abc', 12]
tuple_2 = ('aaa', 81)
list_1.append(list_3)
list_1.append(tuple_2)
print(list_1)

True False
[1, 2, 84, 3, 4, '7', False, 10]
[1, 2, 84, 3, 4, '7', False, 10, 11, 15, False, '7']
[1, 2, 84, 3, 4, '7', False, 10, 11, 15, False, '7', ['abc', 12], ('aaa', 81)]

In [ ]:
# склеивание элементов списка
list_4 = ['mmm', 'username', 'password', 'nickname']
' '.join(list_4)

'mmm username password nickname'

К спискам можно обращаться и брать от них значения по индексу. Также можно выделить через двоеточие с какого по какой элемент хотим выделить (можно не выделять начальный и выделить по какой элемент хотим - тогда вернется все с начала листа по заданный индекс, аналогичная логика при выделении начального индекса и не выделении конечного.

Через два двоеточия можно указать шаг, с которым мы берем элементы. ```LIST_A[::2]``` - будет выдавать значения списка через два элемента (пример снизу).

In [ ]:
print(list_1)

# от третьего элемента до четвертого (пятый не включается)
print(list_1[2:4])

# через 2 элемента
print(list_1[0::2])

# с конца
print(list_1[::-1])

# до 3 (не включительно) элемента с конца
print(list_1[:-3])

# с 3-го последнего
print(list_1[-3:])

[1, 2, 84, 3, 4, '7', False, 10, 11, 15, False, '7', ['abc', 12], ('aaa', 81)]
[84, 3]
[1, 84, 4, False, 11, False, ['abc', 12]]
[('aaa', 81), ['abc', 12], '7', False, 15, 11, 10, False, '7', 4, 3, 84, 2, 1]
[1, 2, 84, 3, 4, '7', False, 10, 11, 15, False]
['7', ['abc', 12], ('aaa', 81)]

In [ ]:
list_a = [1, 2, 3]
list_b = ['a', 'b', 'c']

A теперь, не прогоняя код, попробуйте угадать - будет ли выброшена ошибка следующего кода 

Хорошее пояснение и вообще чтиво - [клац](https://nedbatchelder.com/text/names.html)

In [ ]:
tuple_1 = (1, [1, 2, 3], [2, 4])
tuple_1[1][0] = 5

Также можно использовать множества и проводить с ними довольно известные операции пересечения, исключения, объединения

In [ ]:
set_1 = set([1, 2, 3, 3, '3', '6', 6, 5])
print(set_1)

set_2 = set(['1', 2, 3, 6, '5'])

print(set_1 - set_2)
print(set_1.intersection(set_2), set_1 & set_2)
print(set_1.union(set_2), set_1 | set_2)
print(set_1 ^ set_2) 
print('5' in set_1)
print(5 in set_1)

{1, 2, 3, 5, 6, '3', '6'}
{1, '3', 5, '6'}
{2, 3, 6} {2, 3, 6}
{1, 2, 3, '1', 5, 6, '5', '3', '6'} {1, 2, 3, '1', 5, 6, '5', '3', '6'}
{1, '1', '3', 5, '5', '6'}
False
True

In [ ]:
[1, 2, 3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

Словари представляют из себя парную конструкцию - ключ-значение. Каждому ключу соответствует его значение. Значения в словаре могут быть разных типов - хоть еще один словарь.

На практике работа со словарями очень удобна, т.к. освобождает от проблемы поиска нужных индексов и их отдельного хранения. Во вторых, в словарях удобно хранить параметры модели, которые вы хотите передать.

In [ ]:
dict_1 = dict({'a': 1, 'b': 2, 'c': True, 'd': 'abc', 'e': [1, 2, 3]})
print(dict_1)
# обращение к ключу 'a'
print(dict_1['a'])

# добавление нового элемента
dict_1['dict_2'] = dict({'g': 'new', 3: 'other_key'})
print(dict_1)
print(dict_1['dict_2'][3])

{'a': 1, 'b': 2, 'c': True, 'd': 'abc', 'e': [1, 2, 3]}
1
{'a': 1, 'b': 2, 'c': True, 'd': 'abc', 'e': [1, 2, 3], 'dict_2': {'g': 'new', 3: 'other_key'}}
other_key

### Условные операторы (if, else, elif)

В условных операторах можно выделить следующие ```if```, ```elif``` (else if) и ```else```. Данными операторами вы проверяете выполнение того или иного условия. После данных выражений (как и для циклов, функций и классов) ставится двоеточие и делается отступ на следующей строке

In [ ]:
a = 3
b = 2
c = True

In [ ]:
if a == 3:
  print(a)

3

In [ ]:
# теперь можем специфицировать, что возвращать в обратном случае
if a == 2:
  print(b)
else:
  print(c)

True

In [ ]:
# также условие можно усложнить
a = 5

if a == 5:
  print(b)
elif a == 5:
  print(c)
else:
  print(a)

2

In [ ]:
# для булевых величин можно не прописывать == True или == False
if c:
  print(a)

5

In [ ]:
# для булевых величин можно не прописывать == True или == False
if not c:
  print(a)

In [ ]:
if not c:
  print(c)
else:
  print(a)

5

In [ ]:
a = [1, 2, 3, '5']
print(a)

if 5 not in a:
  #print('5 not in the list')
  a.append(5)

print(a)

[1, 2, 3, '5']
[1, 2, 3, '5', 5]

### Циклы

* While
* For

In [ ]:
a = [2, 3, 4]

for i in a:
  print(i)

2
3
4

In [ ]:
# в обратном порядке
a = [2, 3,4]

for i in reversed(a):
  print(i)

4
3
2

In [ ]:
# в обратном порядке
a = [2, 3,4]

for i in a[::-1]:
  print(i)

4
3
2

А можно и добавить условие вовнутрь

In [ ]:
a = [2, 3, 4, 5, 6, 7, 8, 8]

for i in a:
  if i % 2 == 0:
    print(i)

2
4
6
8
8

In [ ]:
# проходясь по циклу можно добавлять элементы в список
a = []
for i in range(5):
  a.append(i)

print(a)

[0, 1, 2, 3, 4]

In [ ]:
a = [2, 3, 4, 5, 6, 7, 8, 8]

for i, j in enumerate(a):
  if j % 2 == 0:
    print(i, j)

0 2
2 4
4 6
6 8
7 8

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
c = [4, 5, 7]

for i, j, k in zip(a, b, c):
  print(i, j, k)

1 a 4
2 b 5
3 c 7

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
c = [4, 5]

for i, j, k in zip(a, b, c):
  print(i, j, k)

1 a 4
2 b 5

In [ ]:
a = [1, 'c', '3', 4, True, [1, 2, 3], (1, [1, 2, '3'])]

for i in a:
  print(i)

1
c
3
4
True
[1, 2, 3]
(1, [1, 2, '3'])

In [ ]:
count = 0
while count < 5:
  print(count)
  #count = count + 1
  count += 1

0
1
2
3
4

In [ ]:
a = []

for i in range(10):
  if i <= 5:
    a.append(i)
  else:
    break

print(a)

[0, 1, 2, 3, 4, 5]

In [ ]:
dict_1 = dict({'a': 1, 'b': 2, 'c': True, 'd': 'abc', 'e': [1, 2, 3]})
dict_1['dict_2'] = dict({'g': 'new', 3: 'other_key'})

# можно итерироваться вокруг словаря с помощью цикла
# берем предметы - индекс и значения
for i, j in dict_1.items():
  print(i, j)

a 1
b 2
c True
d abc
e [1, 2, 3]
dict_2 {'g': 'new', 3: 'other_key'}

In [ ]:
# берем значения
for i in dict_1.values():
  print(i)

1
2
True
abc
[1, 2, 3]
{'g': 'new', 3: 'other_key'}

In [ ]:
'a' in dict_1, 'ffffff' in dict_1

(True, False)

In [ ]:
# при итерации по ключам можно опустить прописывание .keys()
for i in dict_1:
  print(i)

a
b
c
d
e
dict_2

Также очень удобным вариантом является **list comprehension**

In [186]:
a = [i for i in range(11)]
print(a)
b = [i ** 2 for i in a]
print(b)
c = [i ** 2 for i in a if i % 3 == 0]
print(c)
d = [i ** 2 if i % 3 == 0 else None for i in a]
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 9, 36, 81]
[0, None, None, 9, None, None, 36, None, None, 81, None]

In [ ]:
a = [[1, 2], [3, 4, 5], [7, 8]]

[i for item in a for i in item]

[1, 2, 3, 4, 5, 7, 8]

In [ ]:
dict_new = {'a': 1, 'b': 2, 'c': 3}

{i: j ** 2 for i, j in dict_new.items()}

{'a': 1, 'b': 4, 'c': 9}

### Функции (по верхам на этом занятии)

Очень важным элементом является написание функций. Функция берет на вход некий набор аргументов и возвращает определенное значение. Функция определяется оператором ```def```, дальше прописывается название функций и в скобках указываются ее аргументы.

При значительном объеме кода у функции правилом хорошего тона является написание комментариев, хотя бы документационной строки (за большими примерами в **pep 257**). В документационной строке обычно пишут, что делает функция, описывают ее аргументы (включая их типы), а также что функция возвращает (также тип возвращаемого).

Если хочется оставить какой-то из аргументов равным какому-то значению по умолчанию, это можно сделать через знак "равно". Однако вы должны помещать аргумнеты, для которых указываете значения по умолчанию, после тех элементов, для которых этого не делаете.

In [ ]:
def my_function_1(a, b, c = True):

  '''Docstring for the function where you can provide people with the explanation of what your function does and what are its arguments'''

  sum_ab = a + b

  if c:
    return sum_ab
  else:
    return - 1 * sum_ab

In [ ]:
my_function_1(3, 2), my_function_1(3, 2, False)

(5, -5)

In [ ]:
def person(names, surnames, names_exceptions, surnames_exceptions):

  people = []
  for i, j in zip(names, surnames):
    if (i not in names_exceptions) and (j not in surnames_exceptions):
      tmp = j + ' ' + i
      people.append(tmp)

  return people

In [ ]:
names = ['Amanda', 'Jack', 'John', 'Paulina', 'Betsy', 'Joseph', 'Patsy', 'Peter', 'Caroline']
surnames = ['Rutt', 'Silver', 'Brown', 'Smith', 'Smith', 'Twitty', 'Oliver', 'Black', 'Anderson']

name_exceptions = ['Patsy', 'Caroline']
surname_exceptions = ['Smith']

person(names = names, surnames = surnames, names_exceptions = name_exceptions, surnames_exceptions = surname_exceptions)

['Rutt Amanda', 'Silver Jack', 'Brown John', 'Twitty Joseph', 'Black Peter']

### На следующем занятии

* Функции углубленно 
* Обработка исключений
* Декораторы
* Лямбда-выражения
* Написание классов