# **<center> Введение в Python, New Economic School, MAE 2022 </center>**
## **<center> Занятие 2 </center>**

План:

* \*args, **kwargs в функциях
* Обработка исключений
* Лямбда-выражения
* Декораторы
* Написание классов

## "Звездочки", а также позиционные и именованные аргументы

Операторы, помеченные `*` (asterisks) позволяют Вам (как одна из возможностей) распаковывать элементы "одним скопом". В примере ниже, вы присваиваете переменным **a**, **b**, и **c** значения из списка. 

Допустим, Вы бы хотели присваивать **a** первое значение из списка, **c** - последнее, а **b** - все промежуточные. Сделать это можно через добавление оператора `*` слева к переменной. 

Также через `print(..)` вы можете вывести все элементы списка (не прописывая их через запятую с помощью индексации по списку) путем добавления `*` слева от переменной.

In [ ]:
a, b, c = [1, 2, 3]

print(f'a is {a}, b is {b}, and c is {c}')

a, *b, c = [1, 2, 3, 4, 5, 6]

print(f'a is {a}, b is {b}, and c is {c}')

list_1 = [1, 2, 3, 4 ,5]

print(*list_1)
print('1st element is {}, 2nd element is {}, 3rd element is {}, 4th element is {}, 5th element is {}'.format(*list_1))

a is 1, b is 2, and c is 3
a is 1, b is [2, 3, 4, 5], and c is 6
1 2 3 4 5
1st element is 1, 2nd element is 2, 3rd element is 3, 4th element is 4, 5th element is 5

Также можно схлопнуть два листа в один с помощью данного оператора

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_2 = ['a', 'b', 'c', 'd']

list_3 = [*list_1, *list_2]
print(list_3)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

Точно также только с использованием `**` можно схлопнуть и распаковать элементы словаря.

In [ ]:
dict_1 = {'a': 1, 'b': 2, 'c': 3}
dict_2 = {'d': 11, 'e': 22, 'f': 33}

dict_3 = {**dict_1, **dict_2}
print(dict_3)

{'a': 1, 'b': 2, 'c': 3, 'd': 11, 'e': 22, 'f': 33}

### Неопределенное число аргументов в функции

Часто случается, что часть аргументов у функции (и их количество) определена заранее, а часть аргументов может добавляться (притом, в неизвестном числе). 

Для этого Вы можете воспользоваться операторами `*` (для позиционный аргументов) и `**` (для именованных аргументов).

* Позиционные аргументы - аргументы, передаваемые в вызов в определённой последовательности (а также на определенных позициях), без указания их имён. 
* Именованные аргументы - аргументы, передаваемые в вызов с указанием их имён.
* Опциональный элемент (значение которого проставлено по дефолту) также является именованным.

#### Позиционные аргументы

Также стоит помнить, что в функцию сперва подаются позиционные аргументы, а потом уже именованные. Иначе возникнет ошибка, как в примере ниже:

In [ ]:
def myFunc(person, age = 27):
  pass

In [ ]:
def myFunc(age = 27, person):
  pass

SyntaxError: ignored

Неопределенное число позиционных аргументов можно передать в функцию через добавление `*` слева от общего названия этих элементов. 

Обычно, из именуют через `*args` в аргументах функции (без `*` в теле функции). Однако - название остается на Ваше усмотрение.

Создадим функцию, которая выводит транзакции для человека (транзакции подаются к аргументы, число которых не определено - через `*transactions`)

In [ ]:
def print_transcactions(person, *transactions):

  print(f'Transactions of {person} were the following:')

  for i in transactions:

    print(i)

In [ ]:
print_transcactions('Dereck', -100, 50, 100)

Transactions of Dereck were the following:
-100
50
100

Число аргументов может быть и больше (и меньше)

In [ ]:
print_transcactions('Dereck', -100, 50, -200, 50, 300, 500, -250, 100)

Transactions of Dereck were the following:
-100
50
-200
50
300
500
-250
100

#### Именованные аргументы

Также вы можете передавать неопределенное число именованных аргументов в функцию. В данном случае, функция будет "воспринимать" это как передачу ей словаря (ключ - имя аргумента, а значение - значение, соответствующее имени)

Обычно, именуют через `**kwargs`, но Выбор имени целиком за Вами.

В примере ниже создаем функцию, которая возвращает какую-то информацию по человеку. Притом, число аргументов (которые характеризуют эту информацию) неопределено. Итерирование идёт через словарь (и его элементы, где элемент - пара из ключа и значения).

In [ ]:
def print_person_info(person, **kwargs):

  print(f'The info for {person} is the following: \n')

  for i,j in kwargs.items():
    print(f'{i} is {j}')

In [ ]:
print_person_info('Judith Smith', age = 25, city = 'Boston')

The info for Judith Smith is the following:

age is 25
city is Boston

А можно указать и больше именованных аргументов

In [ ]:
print_person_info('Jane Black', age = 23, city = 'Bruklin', highest_degree = 'Masters', university = 'New York University', maritual_status = 'Single')

The info for Jane Black is the following:

age is 23
city is Bruklin
highest_degree is Masters
university is New York University
maritual_status is Single

Также можно миксовать позиционные и именованные аргументы. Однако не забывайте, что именованные аргументы идут за позиционными.

Ниже функция выводит траты человека. Если аргумент `show_new = True`, то к тратам прибавляются новые транзакции (которые подаются в неопределенном количестве через `*new_transactions`

In [ ]:
def print_person_expences(person, expences, *new_transactions, show_new = True):

  result = expences

  if show_new:
    for t in new_transactions:
      result += t
    print(f'{result} spent by {person}')
    return result

  else:
    print(f'{result} spent by {person}')
    return result

In [ ]:
sum_transac = print_person_expences('John Black', 345)
sum_transac

345 spent by John Black

345

Если есть транзакции новые

In [ ]:
sum_transac = print_person_expences('John Black', 345, 10, 40, 20, 30)

445 spent by John Black

Если есть транзакции новые, **но прибавлять мы их не хотим**

In [ ]:
sum_transac = print_person_expences('John Black', 345, 10, 40, 20, 30, show_new = False)

345 spent by John Black

Можно совместить все пройденное выше

In [ ]:
def print_person_expences(person, expences, *new_transactions, show_new = True, **additional_info):

  result = expences

  if show_new:
    for t in new_transactions:
      result += t

  print(f'{result} spent by {person}')

  for i,j in additional_info.items():
    print(f'{i} is {j}')

  return result

In [ ]:
sum_transac = print_person_expences('John Black', 345, 10, 15, 40, 10, show_new = True, n_transactions = 10, share_payed_with_card = 0.7)

420 spent by John Black
n_transactions is 10
share_payed_with_card is 0.7

## Обработка исключений

Обработка исключений позволяет Вам выполнить Ваш код без прерывания по той или иной ошибке. Такой блок может быть важен, когда Вам хочется так или иначе (несмотря на возможные ошибки) получить результат работы функции.

Допустим, Вы собираете информацию по 10 сайтам (может быть классикой для курсовых и дипломных). На 3-м сайте Ваш код падает из-за того, что происходит какая-то ошибка (допустим, сайт распознает Вас как бота). Возможно, Ваш код работает несколько дней (в которые Вы хотели поехать на дачу). Вы уехали, Ваш код упал через полдня, обнаружили Вы это по приезде. 

Хотелось бы давать указание в коде, что делать (какой код исполнять) при возникновении ошибки. А также что делать, если все ОК.

Данные вещи можно делать через операторы `try` и `except`.

В блок кода под `try:` мы подаем тот код, который мы бы хотели исполнить при отсутствии ошибок.

В блок кода под `except ErrorTypeName:` мы подаем тот код, который мы бы хотели исполнить при наличии ошибки **"ErrorTypeName"** (виды ошибок могут быть разными - деление на ноль, неверный тип данных, нехватка памяти, синтаксическая ошибка и т.д.)

Общий список ошибок можно глянуть, например, [здесь](https://docs.python.org/3/library/exceptions.html)

В функции ниже мы считаем результат попарного деления двух списков (первый список из числетелей, второй - из знаменателей)

Если знаменатель равен нулю, то эта ошибка будет обработана как исключение, для нее выполнится следующая пара комманд:

```
results.append('division by zero')
print("Cannot divide by zero")
```

Если одно из чисел не числовое, то исключение ошибки приведет к исполнению следующего кода:

```
print("Please enter a number")
results.append('not a number')
```

In [ ]:
def pairwise_division(first_container, second_container):

  results = []

  for i,j in zip(first_container, second_container):

    try:
      r = i / j
      results.append(r)
    except ZeroDivisionError:
      results.append('division by zero')
      print("Cannot divide by zero")
    except TypeError:
      print("Please enter a number")
      results.append('not a number')

  return results

In [ ]:
list_1, list_2 = [1, 2, 3], [2, 3, 4]

result = pairwise_division(list_1, list_2)
print(*result)

0.5 0.6666666666666666 0.75

А теперь посмотрим, что будет если знаменатель равен 0.

In [ ]:
list_1, list_2 = [1, 2, 3], [2, 3, 0]

result = pairwise_division(list_1, list_2)
print(*result)

Cannot divide by zero
0.5 0.6666666666666666 division by zero

Если тип одного из чисел не принадлежит валидному типу данных.

In [ ]:
list_1, list_2 = [1, 2, 3], [2, 3, 'd']

result = pairwise_division(list_1, list_2)
print(*result)

Please enter a number
0.5 0.6666666666666666 not a number

In [ ]:
result

[0.5, 0.6666666666666666, 'not a number']

Мы заранее можем не знать, какая ошибка нас ждет (мы можем забыть все дефолтные ошибки, или же такая ошибка может не существовать). Для этого в качестве имени ошибки можно после `except` подать более общий вариант "**Exception**".

Стоит отметить, что более частные ошибки обрабатываются в первую очередь.

In [ ]:
def pairwise_division(first_container, second_container):

  results = []

  for i,j in zip(first_container, second_container):

    try:
      r = i / j
      results.append(r)
    except ZeroDivisionError:
      results.append('division by zero')
      print("Cannot divide by zero")
    except Exception:
      results.append('some other error')
      print("Other error occured")

  return results

In [ ]:
list_1, list_2 = [1, 2, 3], [2, 3, 'd']

result = pairwise_division(list_1, list_2)
print(result)

Other error occured
[0.5, 0.6666666666666666, 'some other error']

Также можно "поднимать" ошибку при выполнении (не выполнении) заданного Вами условия через конструкцию `raise ErrorName('some optional text')`

In [ ]:
def pairwise_division(first_container, second_container):

  results = []

  for i,j in zip(first_container, second_container):

    try:
      if i == 3:
        raise ValueError('We ignore 3 in numerator (just because)')
      else:
        r = i / j
        results.append(r)
    except ZeroDivisionError:
      results.append('division by zero')
      print("Cannot divide by zero")
    except Exception:
      results.append('some other error')
      print("Other error occured")

  return results

In [ ]:
list_1, list_2 = [1, 2, 3, 3], [2, 3, 'd', 4]

result = pairwise_division(list_1, list_2)
print(result)

Other error occured
Other error occured
[0.5, 0.6666666666666666, 'some other error', 'some other error']

Поправим немного функцию и будем обрабатывать только 2 заранее определенных вида ошибок. Можно увидеть, что ошибка для 4-й пары элементов обработана не будет, т.к. относится к другому классу/типу ошибок - **ValueError**, такие ошибки мы не обрабатываем в нашей функции.

Ошибка в коде также выведет текст, который мы ей задали (его задавать не обязательно)

In [ ]:
def pairwise_division(first_container, second_container):

  results = []

  for i,j in zip(first_container, second_container):

    try:
      if i == 3:
        raise ValueError('We ignore 3 in numerator (just because)')
      else:
        r = i / j
        results.append(r)
    except ZeroDivisionError:
      results.append('division by zero')
      print("Cannot divide by zero")
    except TypeError:
      results.append('some other error')
      print("Other error occured")

  return results

In [ ]:
list_1, list_2 = [1, 2, 3, 3], [2, 3, 'd', 4]

result = pairwise_division(list_1, list_2)
print(result)

ValueError: ignored

## Лямбда-выражения

Лямбда выражения являются укороченными и анонимными функциями. 

Их использовани в ряде случаев более удобно, а также компактно. Использовать их можно внутри функций (как и обычные функции), передавать как аргументы (как и обычные функции), принимать у них на вход такие же функции (как и для обычных функций)

Конструкция лямбда выражения следующая: "**keyword** arguments: *expression*", где **keyword = lambda**. Пример простенькой функции возведения в квадрат ниже.

In [ ]:
def take_square(x):

  return x ** 2

take_square(2)

4

In [ ]:
take_square = lambda x: x ** 2

take_square(2)

4

Можно даже не определять, а сразу взять

In [ ]:
(lambda x: x ** 2)(2)

4

Можно и несколько параметров передавать

In [ ]:
take_power = lambda x, y: x ** y

take_power(2, 3)

8

### Лямбда-выражения с условиями

А так можно добавлять условия

In [ ]:
take_power = lambda x, y: x ** y if x != 0 else 'error'

print(take_power(2, 3))
print(take_power(0, 2))
print(take_power(2, 1))

8
error
2

Лямбда выражение возвращает какое-то значение, поэтому для переданного массива нам надо вернуть какое-то значение (а не какой-то массив)

In [ ]:
sum_of_squares = lambda x: sum(i ** 2 for i in x)

sum_of_squares([1, 2, 3])

14

Также можно лямбда выражение прописывать внутри функции. Функция ниже будет возвращать лямбда выражение.

In [ ]:
def take_power(power):
  return lambda x : x ** power

result_fnc = take_power(3)

print(result_fnc(2))
print(result_fnc(3))

8
27

Также лямбда выражение можно делать иерархическим

In [ ]:
hierarchical_fnc = lambda x, fnc: x ** 3 + fnc(x)

hierarchical_fnc(3, lambda x: -x)

24

Но! Лямбда выражение нельзя аннотировать как обычную функцию в примере ниже (аннотированы типы переменных на входе и выходе)

In [ ]:
def print_person(name: str, surname: str) -> str:
    
    return "Person's name is {} and surname is {}".format(name, surname)

print_person('Jack', 'White')

"Person's name is Jack and surname is White"

### Map, Filter, Reduce + Itertools

Есть ряд удобных встроенных методов - `map`, `filter`, а также некоторых других функций в библиотеках **`functools`** и **`itertools`**

Более подробно о методах определенных в них смотрите в документации: [itertools](https://docs.python.org/3/library/itertools.html))

`map` позволяет применить функцию (лямбда-выражение либо обычную функцию) к элементам массива. `map` возвращает объект класса **map**, по которому можно итерироваться. Чтобы перевести этот объект в список требуется накинуть `list(..)` поверх. Первым аргументом у `map` (а также у `filter` и `reduce`) идет функция, а вторым - массив (упрощение - идет iterable object)

Ниже пример работы `map` к списку, от которого мы хотим получить список квадратов элементов.

In [ ]:
take_square = lambda x: x ** 2

list_1 = [1, 2, 3, 4, 5]

list_2 = list(map(take_square, list_1))
list_3 = list(map(lambda x: x ** 2, list_1))

print(list_2)
print(list_3)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

Массив также можно фильтровать с помощью функций и лямбда выражений как в примере ниже

In [ ]:
list_1 = [i for i in range(1, 11)]

list_2 = list(filter(lambda x: (x % 2 == 0) , list_1))

print(list_1)
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

Также есть метод `reduce` которому на вход подается несколько аргументов, где первый элемент это аккумулированный результат работы функции на предыдущих элементах, а второй аргумент - текущий элемент.

In [ ]:
from functools import reduce
import itertools

In [ ]:
list_1 = [i for i in range(1, 11)]

result = reduce(lambda x, y: x + y, list_1)
print(result)

result = reduce(lambda x, y: x * y, list_1)
print(result)

55
3628800

`accumulate` в `itertools` позволяет Вам брать накопленные результата работы функции по массиву. Порядок аргументов отличен от предыдущих методов.

In [ ]:
print(list_1)
result = list(itertools.accumulate(list_1, lambda x, y: x + y))
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

Также в `itertool` есть куча полезных методов, которые можно посмотреть ниже, а также в документации выше.

In [ ]:
# комбинации из двух чисел из значений из списка
list(itertools.combinations([1, 2, 3, 4], 2))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [ ]:
# комбинации из трех символов из элементов строки
list(itertools.combinations('ABCDE', 3))

[('A', 'B', 'C'),
 ('A', 'B', 'D'),
 ('A', 'B', 'E'),
 ('A', 'C', 'D'),
 ('A', 'C', 'E'),
 ('A', 'D', 'E'),
 ('B', 'C', 'D'),
 ('B', 'C', 'E'),
 ('B', 'D', 'E'),
 ('C', 'D', 'E')]

In [ ]:
# комбинации из трех символов из элементов строки (1 комбинация тк строка только из 3-х элементов)
list(itertools.combinations('ABC', 3))

[('A', 'B', 'C')]

In [ ]:
# комбинации из трех символов из элементов строки с повторениями 
list(itertools.combinations_with_replacement('ABC', 3))

[('A', 'A', 'A'),
 ('A', 'A', 'B'),
 ('A', 'A', 'C'),
 ('A', 'B', 'B'),
 ('A', 'B', 'C'),
 ('A', 'C', 'C'),
 ('B', 'B', 'B'),
 ('B', 'B', 'C'),
 ('B', 'C', 'C'),
 ('C', 'C', 'C')]

In [ ]:
# варианты возможных перестановок
list(itertools.permutations("ABCD"))

[('A', 'B', 'C', 'D'),
 ('A', 'B', 'D', 'C'),
 ('A', 'C', 'B', 'D'),
 ('A', 'C', 'D', 'B'),
 ('A', 'D', 'B', 'C'),
 ('A', 'D', 'C', 'B'),
 ('B', 'A', 'C', 'D'),
 ('B', 'A', 'D', 'C'),
 ('B', 'C', 'A', 'D'),
 ('B', 'C', 'D', 'A'),
 ('B', 'D', 'A', 'C'),
 ('B', 'D', 'C', 'A'),
 ('C', 'A', 'B', 'D'),
 ('C', 'A', 'D', 'B'),
 ('C', 'B', 'A', 'D'),
 ('C', 'B', 'D', 'A'),
 ('C', 'D', 'A', 'B'),
 ('C', 'D', 'B', 'A'),
 ('D', 'A', 'B', 'C'),
 ('D', 'A', 'C', 'B'),
 ('D', 'B', 'A', 'C'),
 ('D', 'B', 'C', 'A'),
 ('D', 'C', 'A', 'B'),
 ('D', 'C', 'B', 'A')]

## Декораторы

Декораторы также являются удобным способом для изменения работы функции.

Допустим, у вас есть какая-то функция. Вам не хотелось бы переписывать ее снова, дописывая ей какие-то дополнительные возможности. Вам хотелось бы ее дополнить.

Для этого можно воспользоваться декорированием одной функции с помощью другой (а функция может быть аргументом другой функция + функция может быть определена внутри другой функции)

Для этого нам требуется декорирующая функция, которая на вход берет фукнцию, которую нужно изменить. Внутри декорирующей функции содержится функция-обёртка, которая выполняет какие-то дополнительные вещи + выполняет декорируемую функцию.

Мы посмотрим на примере ниже. Создадим массив данных, матрицу, где строка - какое-то наблюдение/объект/человек, а элементы строки - значения тех или иных переменных по этому наблюдению.

Далее определим вспомогательную функцию для подсчета попарного расстояния (в нашем случае, L1 норма или же Манхэттеновское расстояние)

In [ ]:
import time

In [ ]:
matrix_list = [[1, 2, 3], [2, 3, 4], [3, 4, 5], [4, 5, 6], [5, 6, 7], [6, 7, 8]]

In [ ]:
def distance_fnc(x, y):
  distance = 0
  for i,j in zip(x, y):
    distance += abs(i - j)
  return distance

Определим функцию, которая считает матрицу попарных расстояний (её не самый эффективный вариант, т.к. достаточно посчитать значения под или над диагональю)

In [ ]:
def pairwise_distance(matrix_obs):

  l = len(matrix_obs)
  distance_matrix = []
  for i in range(l):
    distance_matrix.append([])
    for j in range(l):
      distance = distance_fnc(matrix_obs[i], matrix_obs[j])
      distance_matrix[i].append(distance)

  return distance_matrix

In [ ]:
pairwise_distance(matrix_list)

[[0, 3, 6, 9, 12, 15],
 [3, 0, 3, 6, 9, 12],
 [6, 3, 0, 3, 6, 9],
 [9, 6, 3, 0, 3, 6],
 [12, 9, 6, 3, 0, 3],
 [15, 12, 9, 6, 3, 0]]

Создадим функцию-декоратор `measure_time` (название на Ваше усмотрение), которая на вход берет другую функцию, которую нужно изменить (функцию `pairwise_distance`). Мы бы хотели добавить в декорируемую функцию вывод времени работы кода.

Для этого внутри функции-декоратора создаем функцию-обёртку `wrapper_func` (название на Ваше усмотрение). Функция-обёртка замеряет время старта работы функции, исполняет функцию (которую ей передали - в частности, `pairwise_distance`), замеряет время конца работы функции, выводит затраченное время и результат (нельзя забывать про `return` внутри функции-обёртки). Чтобы передать в изменяемую функцию ее параметры, их также нужно передать в функцию-обёртку.

In [ ]:
def measure_time(func):

  def wrapper_func(*args):
    start = time.time()
    result = func(*args)
    end = time.time()
    print('Time of execution is {} seconds'.format(end - start))
    return result

  return wrapper_func

Чтобы обернуть функцию `pairwise_distance` с помощью декоратора нужно поверх определения этой функции через оператор `@` прописать название декоратора.

In [ ]:
@measure_time
def pairwise_distance(matrix_obs):

  l = len(matrix_list)
  distance_matrix = []
  for i in range(l):
    distance_matrix.append([])
    for j in range(l):
      distance = distance_fnc(matrix_list[i], matrix_list[j])
      distance_matrix[i].append(distance)

  return distance_matrix

In [ ]:
result = pairwise_distance(matrix_list)
result

Time of execution is 5.8650970458984375e-05 seconds

[[0, 3, 6, 9, 12, 15],
 [3, 0, 3, 6, 9, 12],
 [6, 3, 0, 3, 6, 9],
 [9, 6, 3, 0, 3, 6],
 [12, 9, 6, 3, 0, 3],
 [15, 12, 9, 6, 3, 0]]

Иначе пришлось бы делать как ниже (предпоследняя строчка,по сути, заменяет выражение с `@`)

In [ ]:
def pairwise_distance(matrix_obs):

  l = len(matrix_list)
  distance_matrix = []
  for i in range(l):
    distance_matrix.append([])
    for j in range(l):
      distance = distance_fnc(matrix_list[i], matrix_list[j])
      distance_matrix[i].append(distance)

  return distance_matrix

pairwise_distance = measure_time(pairwise_distance)
pairwise_distance(matrix_list)

Time of execution is 3.886222839355469e-05 seconds

[[0, 3, 6, 9, 12, 15],
 [3, 0, 3, 6, 9, 12],
 [6, 3, 0, 3, 6, 9],
 [9, 6, 3, 0, 3, 6],
 [12, 9, 6, 3, 0, 3],
 [15, 12, 9, 6, 3, 0]]

Далее есть избитый пример про сэндвич, который мы хотим обернуть в начинку, а потом обернуть в хлеб

В этом примере используется несколько декораторов - `bread` и `ingredients`

In [ ]:
def bread(func):
  def wrapper():
    print("</______\>")
    func()
    print("<\______/>")
  return wrapper

def ingredients(func):
  def wrapper():
    print("#помидоры#")
    func()
    print("~салат~")
  return wrapper

In [ ]:
@bread
@ingredients
def sandwich(food = "--ветчина--"):
  print(food)

Первым функция обарачивается декоратором `ingredients`

In [ ]:
sandwich()

</______\>
#помидоры#
--ветчина--
~салат~
<\______/>

А в таком случае - в обратном порядке, который вряд ли для нас ценен

In [ ]:
@ingredients
@bread
def sandwich(food = "--ветчина--"):
  print(food)

sandwich()

#помидоры#
</______\>
--ветчина--
<\______/>
~салат~

## Классы

Одним из главных компонентов является объект. В Python все является объектами. Эти объекты принадлежат какому-то одному классу. Например, 3 может принадлежать классу целых чисел (вещественных чисел, положительных чисел и т.д.). На класс целых чисел определены те или иные операции (сложения, умножения, сравнения и т.д.). Однако для какой-то другой структуры данных/класса, операции (методы) могут быть отличны, а также их поведение может отличаться для объектов разных классов.

Класс Вы можете определить через ключевое слово `Class` не забыв про **:** в конце

Класс может содержать внутри себя какие-то функции - методы (в контексте классов - методы), а также переменные.

In [ ]:
class MyClass:
  pass

Методы с двойным нижним подчеркиванием по бокам являются магическими (это устоявшееся название, если что). Можно их также интерпретировать как базовые (в зависимости от того, где интерпретация и ассоциации для Вас легче). 

Эти методы являются специальными не предполагают их вызов напрямую от объекта. Они позволяют вызывать их при применении каких-либо операций с объектами класса.

Метод **`__init__(self, ..)`** является инициализатором объекта. Объект определенного класса мы инициализируем какими-то значениями (у человека, например, есть имя и фамилия с возрастом, у товара - код на штрих-коде, срок годности и т.д.). Первым аргументом кладется аргумент **`self`**, который является ссылкой на конкретный экземпляр класса. Устоявшимся (но не обязательным) названием является **self**, и лучше придерживаться этому названию.

Определим класс `Person`, инициализируя его именем, фамилией и возрастом человека. **self** - ссылка объекта на себя же, записываем в него эти параметры.

Магический метод **`__str()__`** позволяет выводить какой-то результат, который мы в нем определяем при вызове `print(object_of_class_person)`

Метод `print_person_age(..)` принимает на вход также внешний параметр, city.

In [ ]:
class Person:
  def __init__(self, name, surname, age):
    self.name = name
    self.surname = surname
    self.age = age
    print('A Person is added')

  def __str__(self):
    return 'Object for {} {}'.format(self.name, self.surname)

  def print_person_age(self, city):
    print('The person is {} years old and lives in {}'.format(self.age, city))

Создадим объект `person_1` класса `Person`

Нам не надо прописывать следующее, чтобы инициализировать объект:

```
person_1 = Person()
person_1.__init__('Suzie', 'Smith', 27)
```

Инициализация и передача параметров для инициализации происходит при определении объекта, как указано ниже

In [ ]:
person_1 = Person('Suzie', 'Smith', 27)

A Person is added

Через `.` Вы можете посмотреть на аттрибуты объекта (методы и переменные)

In [ ]:
person_1.surname

'Smith'

От объекта Вы можете взять метод, как в примере ниже

In [ ]:
person_1.print_person_age('Kansas')

The person is 27 years old and lives in Kansas

In [ ]:
person_1

А вот ниже результат работы магического методы **`__str(..)__`**

In [ ]:
print(person_1)

Object for Suzie Smith

Как и говорилось - все в Python является объектом. Даже переменная, которой присвоено какое-то число. У нас есть ряд операций с числами - например, арифметическое сложение. Арифметическое сложение доступно через оператор `+`, за который, по сути, отвечает магический метод **`__add()__`**. Нам не требуется для сложения этот метод вызывать, если он определен в классе объекта.

In [ ]:
a = 5

a + 4

9

Нет смысла делать так:

In [ ]:
a.__add__(4)

9

Для класса строк этот же метод работает иначе

In [ ]:
a = 'ab'
c = 'cd'
a + c

'abcd'

Можно проверить название класса (тоже магический метод)

In [ ]:
c.__class__.__name__

'str'

In [ ]:
a.__add__('cd')

'abcd'

Одним из столпов ООП (объектно-ориентированное программирование) является наследование. 

Дочерний (подкласс) может наследовать те или иные методы (и аргументы) от родительского (суперкласс) класса

In [ ]:
class Person:
  def __init__(self, name, surname, age):
    self.name = name
    self.surname = surname
    self.age = age
    print('A Person is added')

  def __str__(self):
    return 'Object for {} {}'.format(self.name, self.surname)

  def print_person_age(self, city):
    print('The person is {} years old and lives in {}'.format(self.age, city))

Для уннаследования Вашим классом другого класса, требуется передать его в аргументы класса, как указано ниже. 

В дочернем классе, Вы также можете определить новые методы вдобавок к унаследованным.

In [ ]:
class Employee_Empty(Person):

  def greet_employee(self):
    print('Greeting to our new member {} {}'.format(self.name, self.surname))

Не забывайте при инициализации передать все необходимые параметры (метод инициализации унаследован от класса `Person`)

In [ ]:
person_2 = Employee_Empty('Suzie', 'Smith', 27)

A Person is added

Применим новый метод

In [ ]:
person_2.greet_employee()

Greeting to our new member Suzie Smith

Старые методы тоже никуда не подевались

In [ ]:
print(person_2)

Object for Suzie Smith

In [ ]:
person_2.print_person_age('Kansas')

In [ ]:
class Person:
  def __init__(self, name, surname, age):
    self.name = name
    self.surname = surname
    self.age = age
    print('A Person is added')

  def __str__(self):
    return 'Object for {} {}'.format(self.name, self.surname)

  def print_person_age(self):
    print('The person is {} years old'.format(self.age))

Также Вы можете добавлять различное количество методов в Ваш класс. Вы также можете изменить метод **`__init(..)__`**, т.к. у Вас могут появиться какие-то дополнительные параметры для инициализации.

Например, вы можете инициализировать Ваш класс как в примере ниже. Сперва с помощью встроенного метода `super().__init__(..)` Вы можете передать для инициализации инициализирующие значения родительского класса, а потом добавить дополнительные параметры.

Из некоторых источников (дабы не повторяться):

* super возвращает объект-посредник (прокси), делегирующий вызовы методов родителю или собрату класса указанного типа.

In [ ]:
class Employee_Normal(Person):

  def __init__(self, name, surname, age, wage, hours_worked):
    super().__init__(name, surname, age)
    self.wage = wage
    self.hours_worked = hours_worked

  def greet_employee(self):
    print('Greeting to our new member {} {}'.format(self.name, self.surname))

  def compute_salary(self, n_weeks = 4.5):
    return self.hours_worked * self.wage * n_weeks

In [ ]:
person_3 = Employee_Normal('Suzie', 'Smith', 27, 500, 40)

A Person is added

In [ ]:
print(person_3)

Object for Suzie Smith

In [ ]:
person_3.print_person_age()

The person is 27 years old

In [ ]:
person_3.compute_salary(2)

40000

Также двумя столпами ООП является Полиморфизм и Инкапсуляция.

* Полиморфизм - возможность одному методу (с одинаковым названием) для объектов разного класса исполнять разные операции. В данном контексте под полиморфизмом понимается множество форм одного и того же слова – имени метода.
* Инкапсуляция - ограничение доступа к составляющим объект компонентам (методам и переменным). Инкапсуляция делает некоторые из компонент доступными только внутри класса.

Одиночное подчеркивание в начале имени атрибута говорит о том, что переменная или метод не предназначен для использования вне методов класса, однако атрибут доступен по этому имени.

Двойное подчеркивание в начале имени атрибута даёт большую защиту: атрибут становится недоступным по этому имени.

Примером полиморфизма является переопределения метода `print_person_age(..)` в классе `Employee_Normal_Ext`. Его поведение отлично от его поведения в классе `Person` (чуть-чуть переписали).

Примером инкапсуляции является метод `__not_use()`, который нельзя вызвать от объекта. Метод `_not_use_not_safe()` не был бы также виден в аттрибутах объекта, но его можно было бы вызвать.

In [ ]:
class Employee_Normal_Ext(Person):

  def __init__(self, name, surname, age, wage, hours_worked):
    super().__init__(name, surname, age)
    self.wage = wage
    self.hours_worked = hours_worked

  def greet_employee(self):
    print('Greeting to our new member {} {}'.format(self.name, self.surname))

  def print_person_age(self):
    print('{} {} is of {} years old'.format(self.name, self.surname, self.age))

  def compute_salary(self, n_weeks):
    self.n_weeks = n_weeks # можно также сохранить "в себя" переменную
    return self.hours_worked * self.wage * n_weeks

  def __not_use(self):
    print('not use')

  def _not_use_safe(self):
    print('not use, but I cannot restrict you')

In [ ]:
person_4 = Employee_Normal_Ext('Suzie', 'Smith', 27, 500, 40)

A Person is added

In [ ]:
person_4.print_person_age()

Suzie Smith is of 27 years old

In [ ]:
person_4.__not_use()

AttributeError: ignored

In [ ]:
person_4._not_use_safe()

not use, but I cannot restrict you

In [ ]:
person_4.n_weeks

AttributeError: ignored

In [ ]:
person_4.compute_salary(4.5)

90000.0

In [ ]:
person_4.n_weeks

4.5

План на следующее занятие (Пятница):

* доп детали по ООП
* NumPy
* Pandas
* Работа с датами и временем
* (если время позволит) визуализация (если время не позволит, то в Субботу)